.container
{
    margin-top: 80px;
}
.aboutme
{
    color: white;
    text-align: center;
}
.text
{
    text-align: left;
    font-size: 20px;
}
.education h1
{
    color: white;
    text-align: center;
}
.bsc
{
    padding: 20px;
    margin-top: 10px;
}
.experience h1
{
    text-align: center;
    color: white;
}
.skills
{
    text-align: center;
    color: white;
}
.skills .checkskills code
{
    color: green;
}
.onlinejudge
{
    text-align: center;
    color: white;
}
.onlinejudge table
{
    background-color: white;
}
.onlinejudge table td
{
    font-size: 20px;
}
.headerImage img
{
    border-radius: 100px;
}
.card-style
{
    border-width: 5px;
    border-color: green;
    height: 400px;
    margin-top: 20px;
    background-color: green;
}

.card img
{
    width: 100%;
    height: 250px;
}
.card h4
{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.footer1 a
{
    font-size: 25px;
}
.footer1
{
    border-style: solid;
    border-color: green;
    border-width: 5px;
    background-color: white;
    height: 140px;
}
.project
{
    height: 80px;
}

.contact
{
    color: white;
}
.contact table
{
    color: white;
}
.toRight
{
    text-align: right;
}
.toLeft
{
    text-align: left;
}
table
{
    border: none;
}
.contact h4
{
    text-align: center;
}
.contact h4 code
{
    font-size: 25px;
}
label
{
    margin-top: 10px;
    margin-bottom: -5px;
}
.footer
{
    background-color: #003147;
    height: 180px;
    margin-top: 100px;
}

.reserved
{
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
}
.reserved code
{
    color: white;
}
.footer ul li
{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}
.footer ul li a
{
    text-decoration: none;
    color: white;
}
